.hero{
    padding:100px 0;

    .wrapper{
        display:grid;
        grid-template-columns: 1fr 1fr;
        gap:50px;
    }

    .hero-content{
        max-width:100%;

        display:flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .bouton-hero{
        max-width:60%;
    }

    /*.hero-media{
        max-width:60%;
    }*/
}

// IMPORTANT : RESPONSIVE
/*Media query*/

@media screen and (max-width: $breakpoint-sm) {
    .hero{
        padding: 80px 40px;

        h1{
            font-size: 48px;
        }

        .wrapper{
            grid-template-columns: 1fr;
            gap:40px;
        }

        .hero-content{
            gap: 40px;
        }

        .bouton-hero{
            border: 5px;
            padding: 7px 40px;
        }
        
    }
}

@media screen and (max-width: $breakpoint-xs) {

}

